{% set modifiers = [
    isNavInverted ? "banner--inverted" : "",
    isNavTransparent ? "banner--transparent" : "",
]|filter|join(" ") %}
<div aria-role="banner" class="banner {{ modifiers }} js-banner">
    <div class="wrapper">
        <label class="banner__menuToggle js-bannerMenuToggle" for="menuToggle">
            <div></div>
        </label>
        <a href="/">
            <svg class="banner__logo">
                <use href="/assets/img/logo.svg#logo"></use>
            </svg>
            {# <svg class="banner__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 178">
                <path d="M136.97974,90.47113h35.3399v24.6554h-61.4043V32.94037h26.06439v57.53076ZM249.36505,56.42236h22.65936v58.70416h26.06439v-58.70416h22.65973v-23.48199h-71.38348v23.48199ZM456.35345,86.59631h14.5589c-1.52625,3.16992-5.6358,7.39679-13.1499,7.39679-9.6272,0-17.25867-7.63147-17.25867-19.95923,0-12.32855,7.63147-19.96002,16.78925-19.96002,8.80579,0,12.91528,6.45807,14.08875,9.04047l26.53455-2.69977c-.82141-5.40112-10.09735-29.23517-40.62329-29.23517-24.42072,0-42.85364,19.48987-42.85364,42.85449,0,23.4812,18.43292,42.85364,40.03577,42.85364,15.73315,0,23.5993-5.98779,27.12128-10.80139l3.75751,9.04041h13.854v-43.79321h-42.85449v15.263ZM206.61566,115.12653v-12.91443l-13.6524,12.91443h13.6524ZM180.55127,47.02911l14.89386-14.08875h-14.89386v14.08875ZM180.55127,58.77008v22.30774l26.06439-24.65546h35.34033v-23.48199h-34.09894l-27.30579,25.82971ZM180.55127,92.81885v22.30768l26.06439-24.6554h29.93927v-22.30774h-29.93927l-26.06439,24.65546ZM354.20892,115.12653v-12.35944l-13.06567,12.35944h13.06567ZM328.73126,47.02911l14.8938-14.08875h-14.8938v14.08875ZM380.86084,76.02954l-26.26385-41.72693-25.86572,24.46747v22.30774l25.47766-24.10046v11.74103l-25.47766,24.10046v22.30768l25.47766-24.1004v-18.98871l27.00397,43.08911h25.12561V32.94037h-25.47766v43.08917ZM0,0v8.34448h10.17804l16.77966,12.78455v7.71826h5.24347v4.64703c0,4.42456-2.44611,8.48895-6.3623,10.54797-2.42712,1.27612-4.98303,2.66138-6.54456,3.62628-4.64276,2.86719-8.99756,6.34198-12.3053,10.57086C2.45856,64.03131.59473,68.3125.05316,77.02045c-.33502,5.39771.95117,11.92053,2.797,15.96948,2.89978,6.35999,6.43457,10.43463,11.46552,14.73206,7.4397,6.354,16.50586,9.16559,26.84796,9.16559,15.81781,0,28.18329-8.32251,32.83185-21.53601,1.86523-5.30194,1.88916-14.35895,2.51678-19.06207.54938-4.11707,3.9054-12.08801,4.30682-13.1579.40149-1.06989.83844-4.01935-2.27509-5.07983-3.54877-1.20868-6.47205,2.04669-7.83051,3.59906-.90747,1.03705-6.64355,8.49463-10.36523,15.74408-4.00226,7.79608-7.8219,13.47156-12.23077,15.66956-9.09869,4.5365-16.58643-1.02142-17.52557-1.87408-3.4671-3.14911-6.63684-6.86041-6.11499-14.8075.37195-5.66589,5.10382-10.91278,10.21704-14.43213,0,0,9.09369-6.8421,12.96753-9.75214,3.8739-2.9101,6.96344-7.12,6.96344-16.26544l.21509-7.08588h5.73792v-7.71826l16.77966-12.78455h422.6424V0H0Z" fill="#223467" stroke-width="0"/><path d="M.95996,145.94598h7.01465v30.16113H.95996v-30.16113ZM54.30371,166.15106l-17.89551-20.20508h-7.09863v30.16113h6.80566v-21.21387l18.81836,21.21387h6.17578v-30.16113h-6.80566v20.20508ZM97.98145,157.79169c-7.43457-.83984-9.53613-1.26074-9.53613-3.23438,0-1.80664,2.39453-3.23438,7.14258-3.23438,4.99805,0,9.36719,1.6377,11.76172,4.41016l4.41016-4.66309c-2.85645-3.31836-8.90527-5.58691-15.71094-5.58691-8.7373,0-14.49219,3.82324-14.49219,9.83008,0,6.04883,5.79688,7.51953,12.98047,8.31738,8.06543.88184,10.54395,1.09277,10.54395,3.6123,0,2.18457-3.27637,3.44531-7.93945,3.44531-4.36914,0-9.74609-1.38672-13.27441-5.54492l-4.41016,5.08301c3.02344,3.86426,10.45898,6.34277,17.39062,6.34277,8.86328,0,15.5-3.31836,15.5-10.08203,0-6.59473-6.46875-7.81348-14.36621-8.69531ZM162.66406,155.77509c0,6.42773-4.66211,9.83008-11.76172,9.83008h-11.97266v10.50195h-7.01465v-30.16113h18.9873c7.09961,0,11.76172,3.36035,11.76172,9.8291ZM155.7334,155.77509c0-2.47852-1.89062-3.90625-5.20898-3.90625h-11.59473v7.85547h11.59473c3.31836,0,5.20898-1.4707,5.20898-3.94922ZM182.23047,176.10712h29.2373v-6.00684h-22.34863v-6.42773h19.9541v-5.92285h-19.9541v-5.79688h22.34863v-6.00684h-29.2373v30.16113ZM247.50195,151.57489c5.08203,0,8.48438,2.52051,9.99707,6.51074l6.21777-2.98242c-2.31055-5.96484-8.10742-9.62012-16.21484-9.62012-10.33398,0-17.89551,6.55371-17.89551,15.54297s7.56152,15.54297,17.89551,15.54297c8.10742,0,13.9043-3.6543,16.21484-9.62012l-6.21777-2.98242c-1.5127,3.99121-4.91504,6.51172-9.99707,6.51172-6.0918,0-10.75391-3.73926-10.75391-9.45215s4.66211-9.45117,10.75391-9.45117ZM280.67773,151.95282h13.10645v24.1543h7.01562v-24.1543h13.06348v-6.00684h-33.18555v6.00684ZM333.51367,176.10712h7.01562v-30.16113h-7.01562v30.16113ZM396.18359,161.02606c0,8.98926-7.51953,15.54297-17.89453,15.54297-10.41797,0-17.9375-6.55371-17.9375-15.54297s7.51953-15.54297,17.9375-15.54297c10.375,0,17.89453,6.55371,17.89453,15.54297ZM389.04297,161.02606c0-5.71289-4.49512-9.45117-10.75391-9.45117-6.30176,0-10.79688,3.73828-10.79688,9.45117s4.49512,9.45215,10.79688,9.45215c6.25879,0,10.75391-3.73926,10.75391-9.45215ZM440.99609,166.15106l-17.89551-20.20508h-7.09863v30.16113h6.80469v-21.21387l18.81934,21.21387h6.1748v-30.16113h-6.80469v20.20508ZM484.67383,157.79169c-7.43555-.83984-9.53613-1.26074-9.53613-3.23438,0-1.80664,2.39453-3.23438,7.1416-3.23438,4.99805,0,9.36719,1.6377,11.76172,4.41016l4.41113-4.66309c-2.85645-3.31836-8.90527-5.58691-15.71094-5.58691-8.7373,0-14.49316,3.82324-14.49316,9.83008,0,6.04883,5.79688,7.51953,12.98047,8.31738,8.06641.88184,10.54492,1.09277,10.54492,3.6123,0,2.18457-3.27734,3.44531-7.93945,3.44531-4.36914,0-9.74609-1.38672-13.27539-5.54492l-4.41016,5.08301c3.02441,3.86426,10.45898,6.34277,17.39062,6.34277,8.86328,0,15.50098-3.31836,15.50098-10.08203,0-6.59473-6.46973-7.81348-14.36621-8.69531Z" fill="#223467" stroke-width="0"/>
            </svg> #}
        </a>
        <label class="banner__overlay" for="menuToggle"></label>
        <nav aria-role="navigation" class="banner__navigation js-bannerNavigation">
            {% include "_partials/menu" %}
        </nav>
        {% if navigation.ctas is not empty %}
            {% include '_partials/ctas' with { ctas: navigation.ctas } %}
        {% endif %}
        {#
        <a class="banner__ctaSmall btn btn--primary btn--small" href="tel:+316881051010">
            <i data-lucide="phone"></i>
            Bel ons
        </a>
        <a class="banner__ctaLarge btn btn--primary" href="tel:+316881051010">
            <i data-lucide="phone"></i>
            088 105 10 10
        </a>
        #}
    </div>
    <label class="banner__menuOverlay" for="menuToggle"></label>
</div>